@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
body {
    background: rgba(46, 3, 114, 0.582);
    color: rgba(243, 243, 231, 0.76);
    font-family: "Cabin", sans-serif;
}
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
